# Functions

In [3]:
def abc(): #function decleration
    print("Pakistan zinda bad") # Body start statment1
    print("Hello! Pakistan") # statment 2
    print("I love Pakistan")# statment 3
abc()
abc()
abc()
abc()

Pakistan zinda bad
Hello! Pakistan
I love Pakistan
Pakistan zinda bad
Hello! Pakistan
I love Pakistan
Pakistan zinda bad
Hello! Pakistan
I love Pakistan
Pakistan zinda bad
Hello! Pakistan
I love Pakistan

In [7]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id: {sid}
    name: {sname}
    Father Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
id_card(1,"MRK","MAK","A.I","12:00 - 3:00")
id_card(2,"MRK","MAK","A.I","12:00 - 3:00")
id_card(3,"MRK","MAK","A.I","12:00 - 3:00")

    PIAIC ISLAMABAD
    Student Id: 1
    name: MRK
    Father Name: MAK
    Course: A.I
    Timing: 12:00 - 3:00


    PIAIC ISLAMABAD
    Student Id: 2
    name: MRK
    Father Name: MAK
    Course: A.I
    Timing: 12:00 - 3:00


    PIAIC ISLAMABAD
    Student Id: 3
    name: MRK
    Father Name: MAK
    Course: A.I
    Timing: 12:00 - 3:00

# Optional Arguments#

In [8]:
def pls(x, y=0, z=0):
    print(x,y,z)
    print(x+y+z)
pls(5)

5 0 0
5

In [10]:
pls(6,7)
pls(8,5,9)
pls() #required argument must be added

6 7 0
13
8 5 9
22

TypeError: pls() missing 1 required positional argument: 'x'

# Non Return Function

In [12]:
a = print("Pakistan") #print is non-return able function 
print(a)

Pakistan
None

In [13]:
b = pls(5,7,9)
print(b)

5 7 9
21
None

# Return Function

In [15]:
def pls(x=0, y=0, z=0):
    return x+y+z
a = pls(6,7)
b = pls(5,7,9)
print(a,b)

13 21

In [16]:
def pls(x=0, y=0, z=0):
    return x+y+z # Always return first return statment
    return x*y+z
    return x*y*z
a = pls(6,7)
b = pls(5,7,9)
print(a,b)

13 21

In [20]:
def pls(x=0, y=0, z=0):
    return x+y+z , x*y+z , x*y*z
a = pls(6,7)
b = pls(5,7,9)
print(a,b)

(13, 42, 0) (21, 44, 315)

# Keyword Argument

In [24]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id: {sid}
    name: {sname}
    Father Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
id_card(1,"12:00 - 3:00","MRK","MAK","A.I")

    PIAIC ISLAMABAD
    Student Id: 1
    name: 12:00 - 3:00
    Father Name: MRK
    Course: MAK
    Timing: A.I

In [25]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id: {sid}
    name: {sname}
    Father Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
id_card(sid=1,timing="12:00 - 3:00",sname="MRK",fname="MAK",course="A.I")

    PIAIC ISLAMABAD
    Student Id: 1
    name: MRK
    Father Name: MAK
    Course: A.I
    Timing: 12:00 - 3:00

In [26]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id: {sid}
    name: {sname}
    Father Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
id_card(1,"MRK",timing="12:00 - 3:00",fname="MAK",course="A.I")

    PIAIC ISLAMABAD
    Student Id: 1
    name: MRK
    Father Name: MAK
    Course: A.I
    Timing: 12:00 - 3:00

In [27]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id: {sid}
    name: {sname}
    Father Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
id_card(1,"MRK",fname="MAK",course="A.I","12:00 - 3:00") #positional arguments are not placed at the end

SyntaxError: positional argument follows keyword argument (<ipython-input-27-708bc3d02df4>, line 10)

In [28]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id: {sid}
    name: {sname}
    Father Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
id_card(1,"MRK","12:00 - 3:00",fname="MAK",course="A.I")

TypeError: id_card() got multiple values for argument 'fname'

# Pass Argument by List

In [31]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id: {sid}
    name: {sname}
    Father Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
l1 = [0,"A","B","C","D"] #list is used for optional arguments
l2 = [1,"A1","B1","C1","D1"]
id_card(l1[0],l1[1],l1[2],l1[3],l1[4])
id_card(*l2)
print(*l1)

    PIAIC ISLAMABAD
    Student Id: 0
    name: A
    Father Name: B
    Course: C
    Timing: D


    PIAIC ISLAMABAD
    Student Id: 1
    name: A1
    Father Name: B1
    Course: C1
    Timing: D1

0 A B C D

# Pass Arguments By Dicitionary

In [35]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id: {sid}
    name: {sname}
    Father Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
d1 = {
    'course' : 'A.I',
    'sname':'MRK',
    'fname': 'MAK',
    'timing': '12:00 - 3:00',
    'sid': 2,
}
id_card(**d1)

    PIAIC ISLAMABAD
    Student Id: 2
    name: MRK
    Father Name: MAK
    Course: A.I
    Timing: 12:00 - 3:00

# Optional Parameter with List

In [36]:

    print(name)
    print(number)
    print(sum(number))
abc("MRK", 6,5,3,2)

MRK
(6, 5, 3, 2)
16

In [39]:
def abc(*number,name):
    print(name)
    print(number)
    print(sum(number))
abc(6,5,3,2, name="MRK")

MRK
(6, 5, 3, 2)
16

# Optional Parameter with Dictionary

In [40]:
def abc(name, **kv):
    print(name)
    print(kv)
abc('MRK', a='aa', b='bb', c='cc')

MRK
{'a': 'aa', 'b': 'bb', 'c': 'cc'}

In [41]:
def abc(name, **kv):
    print(name)
    print(kv)
    if 'b' in kv.keys():
        print("Pakistan")
abc('MRK', a='aa', b='bb', c='cc')

MRK
{'a': 'aa', 'b': 'bb', 'c': 'cc'}
Pakistan

In [42]:
def abc(**kv,name):
    print(name)
    print(kv)
    if 'b' in kv.keys():
        print("Pakistan")
abc(a='aa', b='bb', c='cc',name='MRK')

SyntaxError: invalid syntax (<ipython-input-42-0d7c0cf333d2>, line 1)

# Recursive Function

In [45]:
def xyz(n): # recurction is infinite , we must break it , it is defined in its self
    if n==1:
        return 1
    return n * xyz(n-1)
xyz(5)

120

# Generator Funtion

In [ ]:
print("abc")