In [1]:
print('Hello Pakistan')

Hello Pakistan

In [3]:
print('Hello Pakistanies')

Hello Pakistanies

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [5]:
5+8 #operation 
#Operators
# +,-,*,/,%."" 
# =,+=,-=,/=,*=
# == , >,<,>=,<=
#5,8 oprands

13

In [6]:
#PAMDAS
5+7-8*(2/2)+200
#5+7-8*1+200
#5+7-8+200
#5+7-8+200

204.0

In [8]:
a = 8
b = 8
print(a)
print(b)

print(id(a))
print(id(b))
b += 1
print(id(a))
print(id(b))

8
8
140717367206512
140717367206512
140717367206512
140717367206544

In [10]:
#Assignment operator:
a=7
type(a)

int

In [12]:
a=2.1
type(a)

float

In [13]:
#bool
a= False
type(a)

bool

In [14]:
#String
a = "1"
type(a)

str

In [15]:
a='2'
type(a)

str

In [16]:
#concatination
'1'+'1'

'11'

In [17]:
#typecastiing
int('1') + int('1')

2

In [18]:
#implicite
a=20
type(a)

int

In [20]:
#Data type must be same

TypeError: 'a' is an invalid keyword argument for int()

In [21]:
#operator overloaing 
#when multiply with string its make repeatition
a="pakistan"
a*2

'pakistanpakistan'

In [29]:
#more then one kind of data types are used in lists using [] braces
#valuse of lits are updated/ extends
names =["Ali","Asad","shan",200]
print(type(names))
print(names[2])

<class 'list'>
shan

In [25]:
#more then one kind of data types are used in tuple using () braces
#valuse of tupke are not updated/ extends
names =("Ali","Asad","shan",200)
print(type(names))

<class 'tuple'>

In [26]:
#more then one kind of data types are used in {} braces is set 
names ={"Ali","Asad","shan",200}
print(type(names))

<class 'set'>

In [28]:
#index    0      1     2     3
names ={"Ali","Asad","shan",200}
#index    -4
print(type(names))
print(names)

<class 'set'>
{200, 'Ali', 'Asad', 'shan'}

In [32]:
# to get index set we change data type to list
names ={"Ali","Asad","shan",200}
names = list(names)
print(type(names))
print(names[2])

<class 'list'>
Asad

In [36]:
#dictionary 
data = {
    #key   : value
    'name' : "Its Mrk",
    'fname' : "Its Mak",
      5 : 'pakistan'
}
data['name']

'Its Mrk'

In [41]:
a='Its Mrk'
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [44]:
#inmemory : change physiccal data present at addres  
# inline / runtime : doesnot change data in memory
a = 'ITsMrK'
print(a.upper())
print(a.lower())
print(a)

ITSMRK
itsmrk
ITsMrK

In [43]:
#inmemory 
a = 'ITsMrK'
a=a.upper()
print(a)

ITSMRK

In [45]:
#inmemory 
a = 'ITsMrK'
a=a.lower()
print(a)

itsmrk

In [46]:
a = "    ItsMrK    "
a

'    ItsMrK    '

In [51]:
a = "    ItsMrK    "
print(len(a))
print(a.lstrip())
print(len(a))
print(a.rstrip())
print(len(a.lstrip()))

14
ItsMrK
14
    ItsMrK
10

In [56]:
#slicing: geting moe then one value rom list
#list[start:end:step] same in tupke and string
a = "We are Pakistan. we love our Country "
print(a)
print(a[7:15:])
print(a[::-1])

We are Pakistan. we love our Country
Pakistan
 yrtnuoC ruo evol ew .natsikaP era eW

In [63]:
a[a.index("pakistan"):15]

ValueError: substring not found