In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./examples/abc.csv')
df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [4]:
df = pd.read_csv('./examples/abc.csv', encoding = 'cp1252') #u
df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [3]:
df = pd.read_excel('./examples/abc.xlsx')
df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [6]:
df = pd.read_excel('./examples/abc.xlsx', sheet_name='Sheet1')
df.head()

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [7]:
df = pd.read_excel('./examples/abc.xlsx', sheet_name=0) # sheet name / sheet inex number
df.head()

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [15]:
df = pd.read_excel('./examples/abc.xlsx', sheet_name=0 , usecols=["A","C"])
df.head()

   A   C
0  1   9
1  2  10
2  3  11
3  4  12

In [9]:
df = pd.read_html('https://www.w3schools.com/html/html_tables.asp')
df

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]

In [10]:
df = pd.read_html('https://www.w3schools.com/html/html_tables.asp')
df[0]

                        Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [51]:
df = pd.read_html('https://www.w3schools.com/html/html_tables.asp')
df

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]

In [52]:
df = pd.read_json('https://api.github.com/users/hadley/orgs')
df.head()

,login,id,node_id,url,repos_url,events_url,hooks_url,issues_url,members_url,public_members_url,avatar_url,description
0,ggobi,423638,MDEyOk9yZ2FuaXphdGlvbjQyMzYzOA==,https://api.github.com/orgs/ggobi,https://api.github.com/orgs/ggobi/repos,https://api.github.com/orgs/ggobi/events,https://api.github.com/orgs/ggobi/hooks,https://api.github.com/orgs/ggobi/issues,https://api.github.com/orgs/ggobi/members{/mem...,https://api.github.com/orgs/ggobi/public_membe...,https://avatars1.githubusercontent.com/u/42363...,
1,rstudio,513560,MDEyOk9yZ2FuaXphdGlvbjUxMzU2MA==,https://api.github.com/orgs/rstudio,https://api.github.com/orgs/rstudio/repos,https://api.github.com/orgs/rstudio/events,https://api.github.com/orgs/rstudio/hooks,https://api.github.com/orgs/rstudio/issues,https://api.github.com/orgs/rstudio/members{/m...,https://api.github.com/orgs/rstudio/public_mem...,https://avatars1.githubusercontent.com/u/51356...,None
2,rstats,722735,MDEyOk9yZ2FuaXphdGlvbjcyMjczNQ==,https://api.github.com/orgs/rstats,https://api.github.com/orgs/rstats/repos,https://api.github.com/orgs/rstats/events,https://api.github.com/orgs/rstats/hooks,https://api.github.com/orgs/rstats/issues,https://api.github.com/orgs/rstats/members{/me...,https://api.github.com/orgs/rstats/public_memb...,https://avatars1.githubusercontent.com/u/72273...,None
3,ropensci,1200269,MDEyOk9yZ2FuaXphdGlvbjEyMDAyNjk=,https://api.github.com/orgs/ropensci,https://api.github.com/orgs/ropensci/repos,https://api.github.com/orgs/ropensci/events,https://api.github.com/orgs/ropensci/hooks,https://api.github.com/orgs/ropensci/issues,https://api.github.com/orgs/ropensci/members{/...,https://api.github.com/orgs/ropensci/public_me...,https://avatars3.githubusercontent.com/u/12002...,
4,rjournal,3330561,MDEyOk9yZ2FuaXphdGlvbjMzMzA1NjE=,https://api.github.com/orgs/rjournal,https://api.github.com/orgs/rjournal/repos,https://api.github.com/orgs/rjournal/events,https://api.github.com/orgs/rjournal/hooks,https://api.github.com/orgs/rjournal/issues,https://api.github.com/orgs/rjournal/members{/...,https://api.github.com/orgs/rjournal/public_me...,https://avatars2.githubusercontent.com/u/33305...,None

In [17]:
df.to_excel("examples/online_data.xlsx",index= False)

In [55]:
df.to_json("examples/online_data.json")

In [18]:
#df.to_excel("examples/online_data.csv" , index= False)

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df.login

0                ggobi
1              rstudio
2               rstats
3             ropensci
4             rjournal
5                r-dbi
6          RConsortium
7            tidyverse
8                r-lib
9    rstudio-education
Name: login, dtype: object

In [21]:
type(df.login)

pandas.core.series.Series

# Tabula-py use (for pdf )

# Series

In [23]:
df.login

0                ggobi
1              rstudio
2               rstats
3             ropensci
4             rjournal
5                r-dbi
6          RConsortium
7            tidyverse
8                r-lib
9    rstudio-education
Name: login, dtype: object

In [24]:
df.login.index

RangeIndex(start=0, stop=10, step=1)

In [25]:
df.login.values

array(['ggobi', 'rstudio', 'rstats', 'ropensci', 'rjournal', 'r-dbi',
       'RConsortium', 'tidyverse', 'r-lib', 'rstudio-education'],
      dtype=object)

In [27]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [33]:
obj2 = pd.Series([1,2,3,4], index=["A","B","C","D"])
obj2

A    1
B    2
C    3
D    4
dtype: int64

In [34]:
obj3 = pd.Series([7,8,9,10], index=["A","D","E","F"])
obj3

A     7
D     8
E     9
F    10
dtype: int64

In [37]:
obj3.index

Index(['A', 'D', 'E', 'F'], dtype='object')

In [36]:
print(obj2 , obj3, sep ='\n\n' )
obj2 +obj3

A    1
B    2
C    3
D    4
dtype: int64

A     7
D     8
E     9
F    10
dtype: int64

A     8.0
B     NaN
C     NaN
D    12.0
E     NaN
F     NaN
dtype: float64

In [39]:
date_range = pd.date_range('2020-01-01','2020-05-03')#yyyy-mm-dd
date_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01',
               '2020-05-02', '2020-05-03'],
              dtype='datetime64[ns]', length=124, freq='D')

In [40]:
date_range[-1]

Timestamp('2020-05-03 00:00:00', freq='D')

In [41]:
date_range = pd.date_range('2020-01-01',periods=5)#yyyy-mm-dd
date_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [42]:
date_range = pd.date_range('2020-01-01','2020-05-03',freq = 'M')#yyyy-mm-dd
date_range

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30'], dtype='datetime64[ns]', freq='M')

In [43]:
date_range = pd.date_range('2020-01-01',periods = 5 , freq ='5H')#yyyy-mm-dd
date_range

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 05:00:00',
               '2020-01-01 10:00:00', '2020-01-01 15:00:00',
               '2020-01-01 20:00:00'],
              dtype='datetime64[ns]', freq='5H')

In [45]:
obj = pd.Series([1,2,3,4], index=["A","B","C","D"])
obj

A    1
B    2
C    3
D    4
dtype: int64

In [46]:
obj['C']

3

In [48]:
obj['C']=10

In [49]:
obj

A     1
B     2
C    10
D     4
dtype: int64

In [58]:
obj['C','D'] = 11

In [59]:
obj

A     1
B     2
C    11
D    11
dtype: int64