In [1]:
import numpy as np
import pandas as pd

In [2]:
frame =pd.DataFrame(np.random.randn(4,3),
                   columns=list('bde'),
                   index =['Utah','Ohio','Texas','Oregon'])

In [3]:
print(frame)
print(np.abs(frame))

               b         d         e
Utah   -0.730216 -0.311808  1.196921
Ohio    1.846302 -1.690940  0.918248
Texas  -0.554232 -1.122002  0.797066
Oregon  0.771272  0.192561  0.441432
               b         d         e
Utah    0.730216  0.311808  1.196921
Ohio    1.846302  1.690940  0.918248
Texas   0.554232  1.122002  0.797066
Oregon  0.771272  0.192561  0.441432

In [5]:
print(frame["d"].min())
print(frame["d"].max())
print(frame["d"].max() - frame["d"].min())

-1.6909396028610644
0.19256057676812963
1.883500179629194

In [7]:
f = lambda x: x.max() - x.min()
df = frame.apply(f)
print(df,type(df))
df = frame .apply(f,axis=1)
print(df)

b    2.576518
d    1.883500
e    0.755489
dtype: float64 <class 'pandas.core.series.Series'>
Utah      1.927137
Ohio      3.537242
Texas     1.919068
Oregon    0.578711
dtype: float64

In [11]:
def min_max(x):
    minimum = x.min()
    maximum = x.max()
    return pd.Series( [x.min(),x.max() ],index = ['min','max'])
df = frame.apply(min_max)
print(df,type(df))

            b         d         e
min -0.730216 -1.690940  0.441432
max  1.846302  0.192561  1.196921 <class 'pandas.core.frame.DataFrame'>

In [26]:
frame =pd.DataFrame(np.arange(8).reshape((2,4)),
                   columns=['d','a','b','c'],
                   index =['three','one'])

In [27]:
print(frame)
print()
print(frame.sort_index(axis=1, ascending = False)) # Default (axis=0, ascending = True
print()
print(frame.sort_index())

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [28]:
print(frame.sort_values(by = 'b'))
print(frame.rank(ascending= False,method = 'max'))
print(frame.rank(ascending = True , method = 'min')) # Default (axis=0, ascending = True
print(frame.rank(axis = 'columns' ))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7
         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0
         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0
         d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

In [30]:
df=pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
                   columns=['one','two'],
                   index =['a','b','c','d'])
print(df)
print()
print(df.sum)
print()
print(df.sum(axis='columns'))

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

<bound method DataFrame.sum of     one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3>

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [33]:
print(df)
x = df.mean(axis='columns',skipna=False)
y = df.mean(axis='columns',skipna=True)
print()
print(x)
print()
print(y)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [42]:
df = pd.DataFrame(
    [[1.4,1.4,1.5,np.nan],
    [7.1,-4.5,1.5,1.4],
    [1.4,np.nan,0.5,np.nan],
     [0.75,-1.3,1.3,np.nan]],
    index=['a','b','c','d'], columns = ['one','two','three','four'])

print(df)
print()
print(df['one'].unique(),df['three'].unique())
print(df['one'].value_counts())
print(df['three'].value_counts())

    one  two  three  four
a  1.40  1.4    1.5   NaN
b  7.10 -4.5    1.5   1.4
c  1.40  NaN    0.5   NaN
d  0.75 -1.3    1.3   NaN

[1.4  7.1  0.75] [1.5 0.5 1.3]
1.40    2
0.75    1
7.10    1
Name: one, dtype: int64
1.5    2
1.3    1
0.5    1
Name: three, dtype: int64