## Deleting data (row or column from dataframe)

In [1]:
import numpy as np
import pandas as pd

In [4]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['Ohio','Colorado','Utah','New York'],
                      columns = ['one','two','three','four'])
print(data_df)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [6]:
data_df.drop(['Colorado','Ohio'], inplace = True)
print(data_df)

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [7]:
data_df = data_df.drop('two',axis = 1)
print(data_df)

          one  three  four
Utah        8     10    11
New York   12     14    15

In [8]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['Ohio','Colorado','Utah','New York'],
                      columns = ['one','two','three','four'])
print(data_df)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [9]:
data_df = data_df.drop('Ohio',axis = 0)
print(data_df)

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [12]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['Ohio','Colorado','Utah','New York'],
                      columns = ['one','two','three','four'])
print(data_df)
print("-------------------------------------------------")
data_df = data_df.drop(['Ohio','Utah'],axis =0)
print(data_df)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
-------------------------------------------------
          one  two  three  four
Colorado    4    5      6     7
New York   12   13     14    15

In [13]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['Ohio','Colorado','Utah','New York'],
                      columns = ['one','two','three','four'])
print(data_df)
print("-------------------------------------------------")
data_df = data_df.drop(['one','four'],axis =1)
print(data_df)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
-------------------------------------------------
          two  three
Ohio        1      2
Colorado    5      6
Utah        9     10
New York   13     14