# Indexing Selection & Filtering

In [1]:
import numpy as np
import pandas as pd

In [2]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['Ohio','Colorado','Utah','New York'],
                      columns = ['one','two','three','four'])
print(data_df)
data_df[ ['one','three']]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [5]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['Ohio','Colorado','Utah','New York'],
                      columns = ['one','two','three','four'])
print(data_df)
print(data_df.Ohio[:2])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

AttributeError: 'DataFrame' object has no attribute 'Ohio'

In [6]:
#conditional Selection
print(data_df[data_df['three']>5])

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [7]:
print(data_df,'\n')

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [8]:
df2 = data_df['three']>5
df2

Ohio        False
Colorado     True
Utah         True
New York     True
Name: three, dtype: bool

In [9]:
print(data_df[data_df['three']>5])

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [25]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['Ohio','Colorado','Utah','New York'],
                      columns = ['one','two','three','four'])
print(data_df)
print("---------------------------------------")
print(data_df[data_df[('three') and ('two')] > 5])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
---------------------------------------
          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [26]:
data_df = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['Ohio','Colorado','Utah','New York'],
                      columns = ['one','two','three','four'])
print(data_df)
print("---------------------------------------")
print(data_df[data_df[('three') or ('two')] > 5])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
---------------------------------------
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15